*.swo
*.swp
.CFUserTextEncoding
.DS_Store
.rnd
/.*hist*
/.Trash
/.dropbox
/.fasd
/.fasd-init-cache
/.gem
/.heroku
/.lesshst
/.mplayer
/.netrc
/.rvm
/.ssh
/.subversion
/.vagrant.d
/.vim
/.viminfo
/.zcompdump*
/.zsh-update
/code
/Desktop
/Documents
/Downloads
/Dropbox
/Library/*
!/Library/KeyBindings
/Movies
/Music
/Pictures
/Public
/work
