[user]
	name = Shane Watson
	email = shane@watson.io
[color]
	ui = auto
[alias]
	aa = add --all
	b = branch
	caa = commit --amend -CHEAD
	ci = commit
	co = checkout
	di = diff --cached
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
[merge]
	tool = vimdiff
[core]
	editor = vim
[credential]
	helper = osxkeychain
